
<section id="left" class="animate__animated animate__fadeIn">
    <h3>Cookie Store</h3>
    <h1>EVERY BITE WORTH <br>TO REMEBER</h1>
    <p>Come and enjoy some of the most crunchiest cookies we have to offer. We have a ton of variety for you to
        choose from, don't miss out. We'll start our sales shortly, stay tuned. </p>
    <button>Shop now</button>
</section>

<section id="right">
    <img id ="img" src="/images/cookies.svg" class="animate__animated animate__fadeInRight">
</section>


<link rel="stylesheet" href="/css/index.css">