<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="Public/css/common.css">
    <%-style%> 
    <title>Document</title>
</head>
<body>
    <div id="body_container">
        <header>
            <div>
                <img src="/images/logo.png">
                <div id="name">COOKIE</div>
            </div>

            <nav>
                <p>Best Sellers</p>
                <p>Our Products</p>
                <p>About</p>
                <p>Contact</p>
            </nav>
        </header>

        <section id="container">
            <%-body%>
        </section>
    </div>
    <%- script %>
</body>
</html>
 