<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-5HLW1WC0LC"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-5HLW1WC0LC');
</script>
    <meta name="google-site-verification" content="ydCh1g_nNYTxI_YjOf1h83aLSFjUWfmoehdl5nHYJd0" />
    <meta charset="UTF-8">
    <meta name="description" content="this website sells cookies">
    <link rel="alternate" hreflang="en-us" href="https://example.com/us/hello" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.1.1/animate.min.css">
    <link rel="stylesheet" href="/css/common.css">
    <%-style%> 
    <title>Document</title>
</head>
<body>
    <div id="body_container">
        <header>
            <div class="animate__animated animate__lightSpeedInLeft">
                <img src="/images/logo.png">
                <a href="/"><div id="name">COOKIE</div></a>
            </div>

            <nav>
                <p><a id="links" href="/">Home</a></p>
                <p><a id="links" href="/products">Our Products</a></p>
                <p><a id="links" href="">About</a></p>
                <p><a id="links" href="/contact">Contact</a></p>
            </nav>
        </header>

        <section id="container">
            <%-body%>
        </section>
    </div>
    <%- script %>
    <script src="/js/index.js"></script>
</body>
</html>
 