@font-face {
    font-family:Accord;
    src: url('/css/fonts/Accord/Accord.ttf');
}

@font-face {
    font-family:luckiest;
    src: url('/css/fonts/Luckiest_Guy/LuckiestGuy.ttf');
}

*{
    margin: 0px;
    border: 0px;
    padding: 0px;
}

#links{
    text-decoration: none;
    color: #2c3e66;
}

a{
    text-decoration: none;
}

body{
    height: 100vh;
    width: 100vw;
    background-image: url('/images/background.png');
    background-size:100% 100%;
    font-family: Accord;
    color: #2c3e66;
}

#body_container{
    box-sizing: border-box;
    height: 100%;
    padding: 2%;
    display: none;
    flex-direction: column;
}

header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 10%;
}

header>div>img{
    height: 30px;
    width: 40px;
    width: 90%;
    box-sizing: border-box;
}

header>div>div{
    height: 100%;
    display: flex;
    align-items: center;
}

header>div>a{
    font-family:luckiest;
    color: aliceblue;
}

header>div{
    display: flex;
    justify-content: flex-end;
    height: 30px;
}

nav{
    width: 35%;
    display: flex;
    justify-content: space-between;
    font-family: sans-serif;
    font-size: 15px;
    font-weight: bold;
}

